*{
    margin: 0px;
    padding: 0px;
}
.calculator{
    margin: 10% 39%;
    display: inline-block;
    background-color: rgb(225, 224, 203);
    padding: 24px;
    border-radius: 10px;
    place-items: center;
}
.Full-display{
    padding: 7px 3px;
}
.display{
    padding: 0px 4px;
    width: 246px;
    height: 50px;
    font-size: 24px;
    align-items: end;
    background-color: aliceblue;
    border: 0.7px solid rgb(255, 179, 171);
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
    height: 40px;
    width: 60px;
    font-size: 24px;
    border: 0.4px solid rgb(255, 179, 171);
    border-radius: 100px;
    background-color: rgb(171, 201, 249);
    cursor: pointer;
}
.btnAll{
    padding: 2px 3px;
}
.btn:hover{
    background-color: rgb(133, 139, 151);
}
.operator{
    color: rgb(255, 98, 0);
    font-weight: bold;
}
.operator:hover{
    background-color: blanchedalmond;
}
